[package]
name = "csv-attest-sys"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true

[build-dependencies]
cc.workspace = true
bindgen.workspace = true

[dependencies]
libc.workspace = true

[features]
default = []
log = []